.col-centered{
	float:none;
	margin: 0 auto;
	color: #302929;

}

.col-centered a{
	font-size: 11pt;
	color: #80000C;
}

.img-panel{
	width:50px;
	margin-bottom: 5px;
}

.cl a{
	font-size:10pt;
	color: #520505;


}

.tfont,.dataproduct {
	font-size: 8pt;
}

.dataproduct input{
	font-size: 8pt;
	min-width: 10px;
	max-width: auto;
}
